
@import "mymixins.less";
@import "myvariables.less";
@import "myfonts.less";
/* Общие стили*/
a {
    text-decoration: none;
    &:hover {
    text-decoration: none;
    color: @color;
    }    
}  
 

.font_bold {
    font-size: 14px;
    font-family: @fontbold ;
    text-transform: uppercase;
}

.font_light {
    font-size: 12px;
    font-family: @fontcustom;
}


/* Шапка страницы*/
.topheader {
    font-family: @fontcustom;
    line-height: 28px;
    height: 30px;
    background-color: @colordark;
}

.topheader_support {
    height: 30px;
    font-size: 14px;
    color: @colorlighter;
    margin-left: 0px;
}

/* Навбар*/
.navbar-default .navbar-toggle {
    z-index: 100;
    border-color: @colordark;
}

.navbar-default .navbar-toggle .icon-bar   {
    background-color: @colordark;
}

.mynavbar {
    height: 88px;
    border: none;
    border-radius: 0; 
    padding-top: 17px;  
}

.navbar-brand,.mynavbar_brand {
    padding-left: 17px;
    font-size: 50px;
    line-height: 0.6em;
    font-family: @fontlight;
    color: @colordark !important ;
} 


.navbar-default .navbar-collapse {
    border: none;
}

.navbar-nav > li > a {
    color: @colordark !important;

    &:hover,&:active,&:focus {
        color: @color !important;
    }
}

li.active > a {
    background-color: #fff !important;
}


.mynavbar_basket {
    width: 40px;
    height: 40px;
    border:2px solid @colordark;
    background-image: url(../img/basket.png);
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        border:2px solid @color;
    }
}

/* Карусель*/
.carousel {
    height: 490px !important;
    overflow: hidden;
  }

  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner img {
    left: 50%;
    max-width: none !important;
    min-height: 490px;
    min-width: 100%;
    position: absolute;
    top: 200px;
    transform: translate(-50%,-50%);
  }

  .item_colormask {
    background-color: rgba(0, 169, 161, 0.3);
    min-height: 490px;
    min-width: 2000px;
    position: absolute;
    top: 0px;

  }
 
  .item_slogan {
    font-size: 28px;
    font-family: "RobotoSlabLight";
    color: #fbfbfb;
    background-color: rgba(211, 228, 227, 0.4);
    margin-left: 7vw;
    position: relative;
    top: 29vh;
    }
   
    .servis {
        height: 200px;
        margin-top: 20px;
        text-align:center;
        p {
        color: @colordark;
        font-size: 18px;
        text-transform:uppercase;
        }
    }
  
    .servis_payment, .servis_delivery, .servis_guarantee  {
        margin: 30px auto;
        height: 70px;  
    }

    .assortment {
        height: 436px;
        .assortment_sofas,.assortment_accessories,
        .assortment_benches,.assortment_lightning {
        height: 218px;
        padding: 0;
        border: 1px solid white;
        background-image: url(../img/sofa.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:hover,&:active,&:focus {
            .assortment_blockhover {
                display: block;
            }
        }
        
        .assortment_blockhover {
                background-color: rgba(25, 32, 32, 0.9);
                height: 218px;
                display: none;
        }

        }
        

        .assortment_customfurniture {
            background-color: #130F0F;
            height: 436px;
        }
    }

    /*Адаптивность */

    @media (max-width: 449px) {
        .topheader_support {
         font-size: 12px;
     } 
     .navbar-brand,.mynavbar_brand {
        position: absolute;
     } 
     
     }

     @media (max-width: 767px) {
        .navbar-default .navbar-collapse {
            position: relative;
            z-index: 40;
            background-color: #fff;
            width: 250px;
            height: 350px;
            top: 40px;
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .navbar-nav > li > a {
            padding: 10px 10px
        }
    
        .navbar-brand,.mynavbar_brand {
            font-size: 34px;
            line-height: 0.7em;
        }   
    }